@model EmployeeInputModel
@{
	ViewData["Title"] = "Add employee";
}

<h2 class="text-center">Add employee</h2>

<partial name="_EmployeeFormPartial" model="Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
