@model EmployeeInputModel
@{
	ViewData["Title"] = "Edit task";
}

<h2 class="text-center">Edit employee</h2>

<partial name="_EmployeeFormPartial" model="Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
