@model TaskInputModel
@{
	ViewData["Title"] = "Update task";
}

<h2 class="text-center">Edit task to employee</h2>

<partial name="_TaskFormPartial" model="Model" />


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
